body { background-color: gray;
  font: 100% Helvetica, sans-serif;
  color: #333;
    text-align: left;
}


// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
